@import "https://fonts.googleapis.com/css?family=PT+Sans+Narrow";
.color_orange {
	background-color: #fe6100;
}
.color_green {
	background-color: #2c6500;
}
.small_img {
	height: 100px;
	weight: 50px;
}
.card-counter {
	box-shadow: 2px 2px 10px #DADADA;
	margin: 5px;
	padding: 20px 10px;
	background-color: #fff;
	height: 100px;
	border-radius: 5px;
	transition: .3s linear all;
	&:hover {
		box-shadow: 4px 4px 20px #DADADA;
		transition: .3s linear all;
	}
	i {
		font-size: 5em;
		opacity: 0.2;
	}
	.count-numbers {
		position: absolute;
		right: 35px;
		top: 20px;
		font-size: 32px;
		display: block;
	}
	.count-name {
		position: absolute;
		right: 35px;
		top: 65px;
		font-style: italic;
		text-transform: capitalize;
		opacity: 0.5;
		display: block;
		font-size: 18px;
	}
}
.center_div {
	display: flex;
	justify-content: center;
	text-align: center;
}
.subject {
	font-size: 40px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #DADADA;
}
.paragraph {
	font-size: larger;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card-counter.primary {
	background-color: #007bff;
	color: #FFF;
}
.card-counter.danger {
	background-color: #ef5350;
	color: #FFF;
}
.card-counter.success {
	background-color: #66bb6a;
	color: #FFF;
}
.card-counter.info {
	background-color: #26c6da;
	color: #FFF;
}
