  <div class="container mt-10">
    <div class="row mb-3 mt-10">
    <!-- 1 -->
      <div class="col-md-3 p-0 color_orange">
        <div class="center_div">
          <img class="small_img ml-3 p-3" src="compiler_logo.png" class="card-img-top" alt="...">

        </div>
        <div class="center_div subject">Managers</div>

        <div class="center_div">
          <p class="paragraph">1325</p>

        </div>



         </div>
      <!-- 2 -->
      <div class="col-md-3 p-2 color_green">
        <div class="center_div">
          <img class="small_img ml-3 p-3" src="compiler_logo.png" class="card-img-top" alt="...">

        </div>
        <div class="center_div subject">Users</div>

        <div class="center_div ">
          <p class="paragraph">2165</p>

        </div>



         </div>
       <!-- 3 -->
       <div class="col-md-3 p-0 color_orange">
        <div class="center_div">
          <img class="small_img ml-3 p-3" src="compiler_logo.png" class="card-img-top" alt="...">

        </div>
        <div class="center_div subject">CLients</div>

        <div class="center_div ">
          <p class="paragraph">2165</p>

        </div>



         </div>
       <!-- 4 -->
       <div class="col-md-3 p-0 color_green">
        <div class="center_div">
          <img class="small_img ml-3 p-3" src="compiler_logo.png" class="card-img-top" alt="...">

        </div>
        <div class="center_div subject">USing Today</div>
        <div class="center_div ">
          <div class="paragraph">89798653</div>

        </div>



         </div>
      </div>

  </div>


</div>


  </div>

